<iframe
  [src]="urlMap"
  width="100%"
  height="450"
  frameborder="0"
  style="border:0"
  allowfullscreen
></iframe>

<iframe
  title="BC Demo Executive Dashboard-Jim - Units by Periiod"
  width="1140"
  height="541.25"
  src="https://app.powerbi.com/reportEmbed?reportId=a92315e2-2ddf-4f35-96d9-bba3aefdab96&autoAuth=true&ctid=0d1ddb6a-0fe8-49d1-9be9-7d917d9b18b7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtaC1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"
  frameborder="0"
  allowFullScreen="true"
></iframe>
